apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "labels.common" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "labels.selector" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "labels.selector" . | nindent 8 }}
    spec:
      serviceAccountName: {{ .Release.Name }}
      securityContext:
        {{- with .Values.securityContext.pod }}
          {{- . | toYaml | nindent 8 }}
        {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- with .Values.securityContext.container }}
              {{- . | toYaml | nindent 12 }}
            {{- end }}
          image: "{{ .Values.image.registry }}/{{ .Values.image.repository }}:{{ default .Chart.Version .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            - --leader-election
            {{- if gt (int .Values.metrics.port) 0 }}
            - --metrics-bind-address={{ printf ":%d" (int .Values.metrics.port) }}
            {{- end }}
          ports:
            {{- if gt (int .Values.metrics.port) 0 }}
            - name: metrics
              containerPort: {{ .Values.metrics.port }}
              protocol: TCP
            {{- end }}
            - name: health
              containerPort: 8081
              protocol: TCP
          livenessProbe:
            {{- toYaml .Values.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.readinessProbe | nindent 12 }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
